/* home.css */
.home-container {
  background-color: #222; /* Dark background */
  color: #fff; /* White text */
  padding: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button {
  text-decoration: none;
  color: #fff; /* White text for buttons */
  background-color: #333; /* Darker background for buttons */
  padding: 10px 20px;
  border-radius: 5px;
  margin-right: 10px;
}

.logo {
  width: 100px;
  height: auto;
}

.content {
  margin-top: 20px;
}

.overview {
  border: 2px solid #444; /* Dark border */
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
}

.button-container {
  display: flex;
  flex-wrap: wrap;
}

.button-container .button {
  margin: 5px;
}

/* Specific styles for the buttons */
.button-container .button {
  background-color: #444; /* Darker background for buttons */
  border: none;
}

.button-container .button:hover {
  background-color: #666; /* Dark background on hover */
}
